body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #031321;
}

button {
  font-family: "Gochi Hand", cursive;
  position: relative;
  font-size: 70px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 5% 10%;
  overflow: hidden;
  border: none;
  transition: 0.6s ease;
  cursor: pointer;
}

.btn-blue {
  color: #2196f3;
  margin-bottom: 30px;
}

.btn-rose {
  color: #d4145a;
}

.btn-blue:hover {
  color: #333333;
  background: #2196f3;
  transition-delay: 0.5s;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  border-radius: 10px;
}

.btn-rose:hover {
  color: #333333;
  background: #d4145a;
  transition-delay: 0.5s;
  box-shadow: 0 0 10px #d4145a, 0 0 40px #d4145a, 0 0 80px #d4145a;
  border-radius: 10px;
}

button:hover span:nth-child(1) {
  left: 100%;
  transform: rotate(90deg);
}
button:hover span:nth-child(2) {
  top: 100%;
}

button:hover span:nth-child(3) {
  right: 100%;
}
button:hover span:nth-child(4) {
  bottom: 100%;
}

span {
  display: block;
  position: absolute;
  transition: 0.6s ease;
}

span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  transition-delay: 0.25s;
}

span:nth-child(2) {
  right: 0;
  top: -100%;
  width: 100%;
  height: 5px;
  transition-delay: 0.25s;
}

span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  transition-delay: 0.25s;
}

span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 5px;
  transition-delay: 0.25s;
}

.btn-blue span {
  background: linear-gradient(0, transparent, #2196f3);
}

.btn-rose span {
  background: linear-gradient(0, transparent, #d4145a);
}
